.aboutme {
    color: rgb(18, 18, 19)
}

h2 {
    float: left;
    margin: 50px;
    padding: 3px;
    border: 2px;
    border-style: dashed;
    border-color: rgb(214, 13, 13);
}

p {
    display: flex;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: brown;
}